body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: sans-serif; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid {
  margin: 0 0 20px 0; }
  .grid:after {
    content: "";
    display: table;
    clear: both; }

[class*='col-'] {
  float: left;
  padding-right: 20px; }
  .grid [class*='col-']:last-of-type {
    padding-right: 0; }

.grid-pad {
  padding: 20px 0 20px 20px; }
  .grid-pad [class*='col-']:last-of-type {
    padding-right: 20px; }

.flex-grid {
  display: flex; }
  .flex-grid.center {
    align-items: center; }
  .flex-grid.flex-col {
    flex-direction: column; }
    .flex-grid.flex-col .cell {
      margin-bottom: 16px; }
  .flex-grid.flex-grid-thirds {
    justify-content: space-between; }
    .flex-grid.flex-grid-thirds .cell {
      width: 32%; }

.cell {
  flex: 1; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.side-bar-container {
  width: 12%;
  float: left;
  height: 100vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.55);
  background-color: #12243A; }

.sideBar {
  height: 100vh;
  width: 16%;
  background-color: #12243A;
  text-align: left; }

.imageBlock {
  height: 15%; }

.imagePlaceHolder {
  height: 45%;
  width: 75%;
  margin-left: 25px;
  margin-top: 32px; }

.ford-logo {
  margin: auto;
  width: 92%;
  margin-top: 11px;
  margin-left: 8px; }

.TextBlock {
  height: 10%;
  width: 91%; }

.textArea {
  color: #FFFFFF;
  font-family: "Ford Antenna";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  padding-left: 16px; }

.radioSelectorBlock {
  height: 13%; }

.anamoly-sources {
  margin-bottom: 10px;
  padding: 0;
  box-sizing: border-box; }

.anamolyTextContainer {
  height: 33%;
  width: 74%;
  color: #FFFFFF;
  font-family: "Ford Antenna";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-left: 17px; }

.MagnitudeTextContainer {
  height: 25%;
  width: 74%;
  color: #FFFFFF;
  font-family: "Ford Antenna";
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  margin-left: 17px; }

.scrollbar {
  width: 100%;
  margin-top: 18px;
  margin-right: 12px; }

.radioSelectorcontainer {
  width: 61%;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  display: grid; }

.radio-selector-on {
  background: url("../../Images/Radio-On.svg");
  background-size: 1.19vw 1.48vw;
  height: 2.68vh;
  width: 1.5vw;
  background-repeat: no-repeat; }

.radio-selector-off {
  background: url("../../Images/Radio-Off.svg");
  background-repeat: no-repeat;
  background-size: 1.19vw 1.48vw;
  height: 2.68vh;
  width: 1.5vw; }

.radio-button {
  margin-left: 17.5px; }

.line {
  box-sizing: border-box;
  height: 2px;
  width: 177px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  margin: 0px 0px 20px 10px; }

.magnitude-component {
  height: 15%; }

.scrollbar {
  height: 100%; }

.bump-image-container {
  height: 54%;
  width: 100%;
  background: linear-gradient(90deg, #41DBC0 0%, #28BB2C 29%, #CCAE16 55.56%, #CE4949 72.62%, #680303 100%);
  margin-top: 10px; }

.Pothole-image-container {
  height: 54%;
  width: 100%;
  background: linear-gradient(90deg, #B4EC51 0%, #53A0FD 43.89%, #A423AE 100%);
  margin-top: 10px; }

.hidden {
  display: none; }

.Date-picker-container {
  height: 10%;
  margin-top: 21px; }

.inherit-height {
  height: inherit; }

.date-time-text {
  color: white;
  font-size: 0.98vw;
  padding-left: 11px;
  padding-left: 3.76%;
  padding-top: 1.4vh;
  background-color: black;
  width: 49%;
  margin-bottom: 4px; }

.date-time-text-container {
  width: 89%;
  height: 33.22%;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 15px;
  margin-left: 9px;
  display: flex;
  padding: 5px; }

.fromDate {
  width: 10%; }

.from-date, .to-date {
  width: 30%;
  height: inherit; }

.day-text {
  text-align: center;
  color: white;
  font-size: 14px;
  font-family: "Ford Antenna";
  width: 9%;
  padding-top: 2px; }

.month-text {
  text-align: center;
  color: white;
  font-size: 14px;
  width: 28%;
  font-family: "Ford Antenna";
  padding-top: 2px;
  font-style: lighter; }

.time-text {
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: normal !important;
  padding-top: 2px;
  font-family: "Ford Antenna"; }

.dotted-text {
  line-height: 27px;
  color: white;
  text-align: center;
  font-weight: normal; }

.magnitude-scroll .rc-slider-handle::before {
  content: attr(data-before);
  position: absolute;
  top: 16px;
  font-size: 12px; }

.edit-icon {
  width: 20%;
  height: 100%;
  border-radius: 5px; }

.edit-icon-url {
  height: 49%;
  width: 54%;
  margin: 5px 0px 0px 10px; }

.float-left {
  float: left; }

.anamoly-selecton-display-box {
  height: 37px;
  width: 113px;
  background-color: #12243A;
  margin: 0px 48px 41px 29px; }

.anamoly-selecton-display-text {
  height: 24.69px;
  width: 79.61px;
  color: #FFFFFF;
  font-family: "Ford Antenna";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin-left: 30px; }

.calendar-content-container {
  height: 75%;
  width: 96%;
  margin: 0 auto;
  padding-top: 1.8%;
  min-width: 80% !important; }

.date-time-modal {
  position: fixed;
  padding-top: 19%;
  padding-left: 32.5%;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1001; }

.date-time-modal-content {
  /* background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 420px;
    border-radius: 11px;  */
  /* Responsive changes  */
  background-color: #fefefe;
  margin: auto;
  width: 24.45855855855856vw;
  border-radius: 11px; }

.date-picker-container {
  margin: auto;
  /*  width: 80%;
      border-bottom: 1px solid #EFEFEF;
          margin-bottom: 15px; */
  /* Responsive Changes  */
  width: 19.5vw;
  border-bottom: 0.13vh solid #EFEFEF;
  margin-bottom: 0.98vw;
  text-align: center;
  font-family: roboto;
  padding-top: 4.5vh; }

.date-picker-temp {
  margin: auto;
  width: 80%;
  /* border-bottom: 1px solid #EFEFEF;
        margin-bottom: 15px; */
  /* Responsive Changes  */
  border-bottom: 0.13vh solid #EFEFEF;
  margin-bottom: 0.98vw;
  text-align: center; }

.date-time-popup-container {
  width: 20.95vw;
  margin: auto; }

.from-text {
  color: #6F6F6F;
  font-size: 0.94vw;
  font-weight: 500; }

.date-time-parent {
  width: 100%;
  padding-left: 40px; }

.from-day-date {
  padding: 0.57vh .76vw;
  width: 7.65vw; }
  .from-day-date p {
    margin: 0px; }

.from-day-date p:first-of-type {
  color: #6F6F6F;
  font-size: .7vw;
  font-weight: bold; }

.from-day-date p:last-of-type {
  color: #BCBBBB;
  font-size: .59vw;
  font-weight: 300; }

.accept-button {
  height: 4.5vh;
  width: 15.6vw;
  border-radius: .5vh;
  background-color: #042247;
  text-align: center;
  color: white;
  line-height: 4.5vh;
  margin: 1.7vh auto;
  font-size: 0.97vw; }

.cancel-button {
  height: 6.3vh;
  width: 15.6vw;
  background-color: white;
  text-align: center;
  color: #BCBBBB;
  line-height: 3.5vh;
  margin: auto;
  /* background-color: aqua; */
  font-size: 0.97vw; }

.calendar.right {
  display: none !important; }

.bar-chart-container {
  z-index: 1001;
  width: 70%;
  height: 10.51%;
  background-color: rgba(0, 0, 0, 0.48);
  position: absolute;
  top: 88.9%;
  bottom: 0.59%;
  min-width: 18% !important; }

.bar-chart-content-container {
  height: 75%;
  width: 96%;
  margin: 0 auto;
  padding-top: 1.8%;
  min-width: 80% !important; }

.horizontal-bar {
  padding-top: 0.95em;
  width: auto; }

hr.style1 {
  border-top: 1px solid #ffffff;
  margin: 0 auto; }

.date-placeholder {
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  height: 20%;
  width: auto;
  font-size: 1.54vh;
  font-weight: 500;
  padding-top: 0.7em; }

.map-container {
  height: 100vh;
  width: 88%;
  background-color: rgba(2, 32, 72, 0.84);
  z-index: 1000;
  float: right;
  position: relative; }

.chart {
  margin: 0 auto !important; }
